@using ProjeMVCV1._2.Models.Entity;
@model ProjeMVCV1._2.Models.Entity.MultipleClass2


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript">

        </script>
        <link rel="stylesheet" type="text/css" href="~/Content/faturastyle.css">
        <title>e-Belge</title>
    </head>
    <body style="" id="mainbody">
        <table cellpadding="0px" width="800" cellspacing="0px" border="0" style="border-color:blue; ">
            <tbody>
                <tr valign="top">
                    <td width="40%">
                        <br><hr>
                        <table width="100%" border="0" align="center">
                            <tbody>
                                <tr align="left">
                                    <td align="left"><b>@Model.hesapDetaylari.Unvan</b><br><br></td>
                                </tr>
                                <tr align="left">
                                    <td align="left">@Model.hesapDetaylari.Adres</td>
                                </tr>
                                <tr align="left">
                                </tr>
                                <tr align="left">
                                    <td align="left">@Model.hesapDetaylari.VergiDairesi<br></td>
                                </tr>
                                <tr align="left">
                                    <td>VKN: @Model.hesapDetaylari.VergiNo<br></td>
                                </tr>
                            </tbody>
                        </table><hr>
                    </td>
                    <td valign="middle" align="center" width="20%">
                        <br><br>
                        <img src="~/Content/gib.png" alt="E-Fatura Logo" align="middle" style="width:91px;">
                        <h1 align="center"><span style="font-weight:bold; ">e-Arşiv Fatura</span></h1>
                    </td>
                    <td width="5%"></td>
                </tr>
                <tr valign="top" style="height:118px; ">
                    <td valign="bottom" align="right" width="40%">
                        <table border="0" align="left" id="customerPartyTable">
                            <tbody>
                                <tr style="height:71px; ">
                                    <td>
                                        <hr>
                                        <table border="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td align="left" style="width:469px; "><span style="font-weight:bold; ">SAYIN</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" style="width:469px; "><b>@Model.kesilenFaturaDetaylari.GidenFaturaUnvan</b><br></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" style="width:469px; ">@Model.kesilenFaturaDetaylari.GidenFaturaAdres<br></td>
                                                </tr>
                                            <td>@Model.kesilenFaturaDetaylari.GidenFaturaVergiDairesi</td>
                                </tr>
                                <tr align="left">
                                    <td>VKN: @Model.kesilenFaturaDetaylari.GidenFaturaVergiNo</td>
                                </tr>
                            </tbody>
                        </table><hr>
                    </td>
                </tr>
            </tbody>
        </table><br>
        </td>
        <td align="right" width="20%"></td>
        <td colspan="2" valign="bottom" align="center" width="40%">
            <table id="despatchTable" border="1">
                <tbody>
                    <tr style="height:13px; ">
                        <td align="left"><span style="font-weight:bold; ">Fatura No:</span></td>
                        <td align="left">@Model.kesilenFaturaDetaylari.KesilenFaturaID</td>
                    </tr>
                    <tr style="height:13px; ">
                        <td align="left"><span style="font-weight:bold; ">Fatura Tarihi:</span></td>
                        <td align="left">@Model.kesilenFaturaDetaylari.GidenFaturaTarih</td>
                    </tr>
                </tbody>
            </table>
        </td>
        </tr>
        </tbody>
        </table>
        <div id="lineTableAligner"><span>&nbsp;</span></div><table width="800" id="lineTable" border="1">
            <tbody>
                <tr class="lineTableTr">
                    <td align="center" style="width:3%" class="lineTableTd"><span style="font-weight:bold;">Sıra No</span></td>
                    <td align="center" style="width:20%" class="lineTableTd"><span style="font-weight:bold;">Mal Hizmet</span></td>
                    <td align="center" style="width:7.4%" class="lineTableTd"><span style="font-weight:bold;">Miktar</span></td>
                    <td align="center" style="width:9%" class="lineTableTd"><span style="font-weight:bold;">Birim Fiyat</span></td>
                    <td align="center" style="width:7%" class="lineTableTd"><span style="font-weight:bold;">KDV Oranı</span></td>
                    <td align="center" style="width:10%" class="lineTableTd"><span style="font-weight:bold;">KDV Tutarı</span></td>
                    <td align="center" style="width:10.6%" class="lineTableTd"><span style="font-weight:bold;">Mal Hizmet Tutarı</span></td>
                </tr>



                @foreach (var item in Model.KesilenFaturaIcerikDetaylari)
                {

                    <tr class="lineTableTr">
                        <td class="lineTableTd"> @item.KesilanFaturaSatirNo</td>
                        <td class="lineTableTd"> @item.GidenFaturaUrunAdi</td>

                        @{
                            if (item.GidenFaturaUrunMiktari != null)
                            {
                                <td align="right" class="lineTableTd"> @item.GidenFaturaUrunMiktari Adet</td>
                            }

                            else
                            {
                                <td align="right" class="lineTableTd"> @item.GidenFaturaUrunMiktari</td>
                            }
                        }

                        @{
                            if (item.GidenFaturaBirimFiyati != null)
                            {
                                <td align="right" class="lineTableTd"> @item.GidenFaturaBirimFiyati TL</td>
                            }

                            else
                            {
                                <td align="right" class="lineTableTd"> @item.GidenFaturaBirimFiyati</td>
                            }
                        }

                        @{
                            if (item.GidenFaturaKDVOrani != null)
                            {
                                <td align="right" class="lineTableTd"> %@item.GidenFaturaKDVOrani</td>
                            }

                            else
                            {
                                <td align="right" class="lineTableTd"> @item.GidenFaturaKDVOrani</td>
                            }
                        }

                        @{
                            if (ViewBag.KDVTutari[item.KesilanFaturaSatirNo - 1] == 0)
                            {
                                <td align="right" class="lineTableTd"></td>
                            }

                            else
                            {
                                <td align="right" class="lineTableTd"> @ViewBag.KDVTutari[item.KesilanFaturaSatirNo - 1] TL</td>
                            }
                        }

                        @{
                            if (ViewBag.malHizmetTutar[item.KesilanFaturaSatirNo - 1] == 0)
                            {
                                <td align="right" class="lineTableTd"></td>
                            }

                            else
                            {
                                <td align="right" class="lineTableTd"> @ViewBag.malHizmetTutar[item.KesilanFaturaSatirNo - 1] TL</td>
                            }
                        }
                    </tr>

                }

            </tbody>
        </table>
        <table width="800px" table-layout="fixed" id="budgetContainerTable">
            <tbody>
                <tr>
                    <td valign="top" align="right">
                        <table>
                            <tbody>
                                <tr align="right">
                                    <td></td>
                                    <td width="200px" align="right" class="lineTableBudgetTd"><span style="font-weight:bold; ">Mal Hizmet Toplam Tutarı</span></td>
                                    <td align="right" style="width:81px; " class="lineTableBudgetTd">@ViewBag.toplamMalHizmetTutar TL</td>
                                </tr>
                                <tr align="right">
                                    <td></td>
                                    <td align="right" width="211px" class="lineTableBudgetTd"><span style="font-weight:bold; ">Hesaplanan KDV(%18)</span></td>
                                    <td align="right" style="width:82px; " class="lineTableBudgetTd"> @ViewBag.toplamKDV TL</td>
                                </tr>
                                <tr align="right">
                                    <td></td>
                                    <td align="right" width="200px" class="lineTableBudgetTd"><span style="font-weight:bold; ">Ödenecek Tutar</span></td>
                                    <td align="right" style="width:82px; " class="lineTableBudgetTd">@ViewBag.odenecekTutar TL</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table><br><br>
        <table align="left" width="800" id="notesTable">
            <tbody>
                <tr align="left">
                    <td height="100" id="notesTableTd">
                        </b>YALNIZ: @ViewBag.odenecekTutarYazi<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
